// 
// _footer.scss
// 

.footer {
    padding: 20px calc(#{$grid-gutter-width} * 0.75);
    color: var(--#{$prefix}footer-color);
    height: $footer-height;
    background-color: var(--#{$prefix}footer-bg);
    width: 100%;
}
  
// Enlarge menu
.vertical-collpsed {
    .footer {
        left: $sidebar-collapsed-width;

        @media (max-width: 991.98px) {
            left: 0;
        }
    }
}

body[data-layout="horizontal"] {
    .footer {
        left: 0 !important;
    }  
}