
.sidebar {
  width: $sidebar-width;
  flex-shrink: 0;
  overflow-y: auto;
  background-color: $white;
}

.dropdown-toggle { outline: 0; }

.btn-toggle,
.btn-single {
  padding: .25rem .5rem;
  font-weight: 600;
  color: $sidebar-menu-item-color;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  text-align: left;

  &:hover,
  &:focus {
    color: $sidebar-menu-item-hover-color;
    background-color: var(--bs-tertiary-bg);
  }
}

.btn-toggle-nav li a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  color: $sidebar-menu-item-color;

  &:hover,
  &:focus {
    color: $sidebar-menu-item-hover-color;
    background-color: var(--bs-tertiary-bg);
  }
}

.btn-single::before {
  width: 1.25em;
  line-height: 0;
  content: "";
}
.btn-toggle::before {
  display: inline-block;
  width: 0.875em;
  height: 0.875em;
  line-height: 1;
  background-color: $sidebar-menu-item-icon-color;
  -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  content: "";
  transition: transform .35s ease;
  transform-origin: center;
  margin-right: .25rem;
}

[data-bs-theme="dark"] .btn-toggle::before {
  background-color: $sidebar-dark-menu-item-icon-color;
}

.btn-toggle[aria-expanded="false"]::before {
  background-color: $white !important;
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
  background-color: $gray-600!important;
}

.bi::before {
  vertical-align: 0!important;
}

ul .bi::before {
  vertical-align: .125em!important;
}

.btn-toggle-nav li a {
  width: 100%;
  margin-left: 0!important;
  padding-left: 2.25rem!important;
}

.sidebar .btn-toggle-nav li a.active, .sidebar a.btn.active {
  color: #1a2c3d;
  background-color: $gray-500
}
