// 
// _pagination.scss
// 

// Pagination rounded (Custom)
.pagination-rounded {
    .page-link {
        border-radius: $border-radius !important;
        margin: 0 3px !important;
        border: none;
        min-width: 32px;
        height: 32px;
        padding: 0 6px;
        text-align: center;
        line-height: 32px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--bs-tertiary-bg);
            transform: translateY(-1px);
        }

        &.active {
            box-shadow: $box-shadow-sm;
        }
    }
}